@model Person

@{
    ViewData["Title"] = "Pagina Principal";
}

<partial name="_Presentacion" />

<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-stack-fill"></i>
            <h3>Back-End</h3>
            <p>
                Trabajo en desarrollo y mantenimiento de aplicaciones Web y puesta en produccion con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core</li>
                <li>Entity Framework</li>
                <li>Dapper</li>
                <li>Linq</li>
                <li>Principios SOLID</li>
                <li>Domain Driven Desing (DDD)</li>
                <li>Clean Architecture</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>Capacidad de crear front-ends de acuerdo a los requerimientos del negocio.</p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular, Blazor.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Boostrap</li>
                <li>Angular Material</li>
                <li>Blazor</li>
            </ul>
        </div>

    </div>

</div>

